.footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.attribution {
  font-size: 0.75rem;
  padding: 0.75rem 0;
  text-align: center;
}
.attribution a {
  color: var(--accent-color);
}
