h1,
p {
  margin: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.container {
  max-width: 81.25rem;
  width: 96%;
  margin: 0 auto;
}
.hero {
  text-align: center;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.25rem;
}
.hero h1 {
  color: var(--heading-color);
  font-size: 3.125rem;
}
.hero span {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 1.1rem;
}

@media screen and (max-width: 550px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero span {
    font-size: 0.9rem;
  }
}
