@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --accent-color: #fe4c1c;
  --heading-color: #080e32;
  --primary-color: #4b5280;
  --fields-bg: #f5f5f5;
  --ff: "Nunito", sans-serif;
}

body {
  font-family: var(--ff);
  margin: 0;
  padding: 0;
}

/* .container {
  max-width: 1300px;
  width: 96%;
  margin: 0 auto;
} */
